  body {
    padding-left: 11em;
    padding-right: 11em;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
		color: rgb(0, 0, 0);
    background-color: #abdbf5 
  }

  .center {
    margin: auto;
    width: 50%;
  }

  h1.center {
    text-align: center;
  }

  img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto
  }

	h1 {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif 
  }

  .banner {
    background-color: #181818;
    color: white;
    padding: 14px 16px;
    margin: 0;
  }

  /*#region Navbar */
  ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #323232;
  }
  ul.navbar li {
    float: left;
    
  }

  ul.navbar li:hover {
    background: #181818;
  }

  ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /*#endregion */

  a:link {
    color: blue 
  }

  a:visited {
    color: purple 
  }

	address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted 
  }
  /*#region Tables*/
  table {
    border-collapse: collapse;
    border: 2px solid #323232;
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid black;
    padding: 10px 20px;
    color: white;
  }
  
  th {
    background-color: #323232;
    color: white;
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: #525252;
  }
  
  tr:nth-child(odd) td {
    background-color: #666565;
  }
  
  caption {
    padding: 10px;
  }
  /*#endregion */
    